
@tailwind base;
@tailwind components;
@tailwind utilities;

/* //Add dark mode support 
@layer base {
    html {
        --tw-text-opacity: 1;
        color: rgba(31, 41, 55, var(--tw-text-opacity));
        //dark:text-gray-800 
    }

    html.dark {
        --tw-text-opacity: 1;
        color: rgba(229, 231, 235, var(--tw-text-opacity));
        // dark:text-gray-200 
    }
}

 // Custom CSS if needed 
body {
    @apply bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200;
} */